.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 390px;
    height: 100%;
    padding: 10px;
    gap: 14px;
    margin: 0 auto;


        &__formButtons{
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            flex-direction: row;
            gap: 20px;
        }
}
